In [1]:
import pandas as pd     #Pandas - To read data 
import numpy as np    #Numpy - Mathematical operations
import matplotlib.pyplot as plt    #PLT - To create visualizations

In [10]:
data = pd.read_csv("/home/skyline/Downloads/datasets/season.csv")

In [11]:
data.head()

   Sales  Ads  Quarter  d1  d2  d3  d4
0     86  5.5        1   1   0   0   0
1     90  6.0        2   0   1   0   0
2    100  8.0        3   0   0   1   0
3     93  7.0        4   0   0   0   1
4     97  7.5        1   1   0   0   0

In [17]:
data.describe()

,Sales,Ads,Quarter,d1,d2,d3,d4
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,332.366667,12.641667,2.500000,0.250000,0.250000,0.250000,0.250000
std,176.067106,3.982346,1.127469,0.436667,0.436667,0.436667,0.436667
min,86.000000,5.500000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,189.750000,9.675000,1.750000,0.000000,0.000000,0.000000,0.000000
50%,309.500000,12.200000,2.500000,0.000000,0.000000,0.000000,0.000000
75%,456.000000,15.275000,3.250000,0.250000,0.250000,0.250000,0.250000
max,702.000000,24.000000,4.000000,1.000000,1.000000,1.000000,1.000000

## Dropped Alpha

In [23]:
import statsmodels.api as sm
x = data[['d1', 'd2', 'd3', 'd4']]
y = data['Sales']

model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                 -0.044
Method:                 Least Squares   F-statistic:                    0.1795
Date:                Thu, 28 Oct 2021   Prob (F-statistic):              0.910
Time:                        11:47:22   Log-Likelihood:                -394.60
No. Observations:                  60   AIC:                             797.2
Df Residuals:                      56   BIC:                             805.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
d1           313.0000     46.439      6.740      0.000     219.971     406.029
d2           329.0667     46.439      7.086      0.000     236.037     422.096
d3           359.8000     46.439      7.748      0.000     266.771     452.829
d4           327.6000     46.439      7.054      0.000     234.571     420.629
==============================================================================
Omnibus:                        5.552   Durbin-Watson:                   0.042
Prob(Omnibus):                  0.062   Jarque-Bera (JB):                3.614
Skew:                           0.431   Prob(JB):                        0.164
Kurtosis:                       2.163   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [24]:
import statsmodels.api as sm
x = data[['d2', 'd3', 'd4']]
y = data['Sales']

x = sm.add_constant(x)
model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                 -0.044
Method:                 Least Squares   F-statistic:                    0.1795
Date:                Thu, 28 Oct 2021   Prob (F-statistic):              0.910
Time:                        11:48:13   Log-Likelihood:                -394.60
No. Observations:                  60   AIC:                             797.2
Df Residuals:                      56   BIC:                             805.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        313.0000     46.439      6.740      0.000     219.971     406.029
d2            16.0667     65.675      0.245      0.808    -115.497     147.630
d3            46.8000     65.675      0.713      0.479     -84.763     178.363
d4            14.6000     65.675      0.222      0.825    -116.963     146.163
==============================================================================
Omnibus:                        5.552   Durbin-Watson:                   0.042
Prob(Omnibus):                  0.062   Jarque-Bera (JB):                3.614
Skew:                           0.431   Prob(JB):                        0.164
Kurtosis:                       2.163   Cond. No.                         4.79
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [29]:
data2 = pd.read_csv("/home/skyline/Downloads/datasets/Interaction.csv")
data

    Year  Advertisement  Sales  Dummy_year  int_variable
0   1971             24  12000           0             0
1   1972             22  12000           0             0
2   1873             23  14000           0             0
3   1974             24  15000           0             0
4   1975             25  14560           0             0
5   1976             28  15450           0             0
6   1977             27  15432           0             0
7   1978             29  15890           0             0
8   1979             29  15640           0             0
9   1980             31  16543           0             0
10  1981             32  16790           0             0
11  1982             33  16890           0             0
12  1983             35  17200           0             0
13  1984             35  17340           0             0
14  1985             36  18190           0             0
15  1986             34  17890           0             0
16  1987             38  18900           0             0
17  1988             39  19000           0             0
18  1989             39  19200           0             0
19  1990             40  19800           0             0
20  1991             43  22890           1            43
21  1992             46  25900           1            46
22  1993             47  26320           1            47
23  1994             47  26540           1            47
24  1995             45  25400           1            45
25  1996             49  26980           1            49
26  1997             50  27100           1            50
27  1998             52  27590           1            52
28  1999             53  27860           1            53
29  2000             54  28100           1            54
30  2001             57  29210           1            57
31  2002             54  27640           1            54
32  2003             59  31000           1            59
33  2003             60  32890           1            60
34  2004             62  34500           1            62
35  2005             63  36800           1            63
36  2006             63  36790           1            63
37  2007             64  38900           1            64
38  2008             65  39210           1            65
39  2009             68  42000           1            68

In [32]:
import statsmodels.api as sm
x = data[['Dummy_year', 'Advertisement', 'int_variable']]
y = data['Sales']

x = sm.add_constant(x)
model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.979
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                     550.5
Date:                Thu, 28 Oct 2021   Prob (F-statistic):           4.06e-30
Time:                        12:43:41   Log-Likelihood:                -340.42
No. Observations:                  40   AIC:                             688.8
Df Residuals:                      36   BIC:                             695.6
Df Model:                           3
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const          5064.9219   1584.795      3.196      0.003    1850.809    8279.035
Dummy_year     -1.23e+04   2647.609     -4.647      0.000   -1.77e+04   -6932.993
Advertisement   363.4295     50.057      7.260      0.000     261.910     464.949
int_variable    325.3747     62.957      5.168      0.000     197.693     453.057
==============================================================================
Omnibus:                        1.224   Durbin-Watson:                   0.305
Prob(Omnibus):                  0.542   Jarque-Bera (JB):                1.017
Skew:                          -0.380   Prob(JB):                        0.601
Kurtosis:                       2.822   Cond. No.                         825.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""