In [8]:
import pandas as pd     #Pandas - To read data 
import numpy as np    #Numpy - Mathematical operations
import matplotlib.pyplot as plt    #PLT - To create visualizations

In [12]:
data = pd.read_csv("/home/skyline/Downloads/datasets/Dummy.csv")

In [14]:
data.head(10)

   Income  North  South  east  Area  Dummy_male  D_female
0      20      0      0     1     3           1         0
1       6      0      1     0     2           0         1
2      18      1      0     0     1           0         1
3      67      0      0     1     3           0         1
4       6      0      1     0     2           1         0
5      76      0      0     1     3           1         0
6      20      1      0     0     1           1         0
7      13      1      0     0     1           1         0
8       9      0      1     0     2           0         1
9      40      0      0     1     3           0         1

In [18]:
data.shape

(50, 7)

In [19]:
data.head()

   Income  North  South  east  Area  Dummy_male  D_female
0      20      0      0     1     3           1         0
1       6      0      1     0     2           0         1
2      18      1      0     0     1           0         1
3      67      0      0     1     3           0         1
4       6      0      1     0     2           1         0

In [20]:
data.describe()

,Income,North,South,east,Area,Dummy_male,D_female
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,30.820000,0.400000,0.280000,0.320000,1.920000,0.520000,0.480000
std,22.904139,0.494872,0.453557,0.471212,0.853325,0.504672,0.504672
min,6.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,12.250000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,20.500000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000
75%,45.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000
max,89.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000

## Dropped Alpha Method

In [22]:
import statsmodels.api as sm
x = data[['Dummy_male', 'D_female']]
y = data['Income']

model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.013
Model:                            OLS   Adj. R-squared:                 -0.008
Method:                 Least Squares   F-statistic:                    0.6145
Date:                Thu, 28 Oct 2021   Prob (F-statistic):              0.437
Time:                        10:44:41   Log-Likelihood:                -226.69
No. Observations:                  50   AIC:                             457.4
Df Residuals:                      48   BIC:                             461.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Dummy_male    33.2692      4.510      7.377      0.000      24.202      42.336
D_female      28.1667      4.694      6.001      0.000      18.729      37.604
==============================================================================
Omnibus:                        5.841   Durbin-Watson:                   1.591
Prob(Omnibus):                  0.054   Jarque-Bera (JB):                5.821
Skew:                           0.823   Prob(JB):                       0.0544
Kurtosis:                       2.705   Cond. No.                         1.04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Dropped Dummy Method

### Now in second dummy regression model, we will drop one dummy and include the intercept in the regression model. The intercept will take the value of dropped dummy and slope coefficient of included dummy will indicate the differential average.

### -----------------------------------------------------

In [29]:
import statsmodels.api as sm
x = data[['North', 'east', 'South']]
y = data['Income']


model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.206
Model:                            OLS   Adj. R-squared:                  0.172
Method:                 Least Squares   F-statistic:                     6.100
Date:                Thu, 28 Oct 2021   Prob (F-statistic):            0.00441
Time:                        11:14:37   Log-Likelihood:                -221.24
No. Observations:                  50   AIC:                             448.5
Df Residuals:                      47   BIC:                             454.2
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
North         23.3500      4.659      5.011      0.000      13.976      32.724
east          45.8125      5.209      8.794      0.000      35.332      56.293
South         24.3571      5.569      4.374      0.000      13.153      35.561
==============================================================================
Omnibus:                       25.081   Durbin-Watson:                   0.770
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               38.012
Skew:                           1.723   Prob(JB):                     5.57e-09
Kurtosis:                       5.523   Cond. No.                         1.20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [30]:
import statsmodels.api as sm
x = data[['east', 'South']]
y = data['Income']

x = sm.add_constant(x)
model = sm.OLS(y,x).fit()
predictions = model.predict(x)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.206
Model:                            OLS   Adj. R-squared:                  0.172
Method:                 Least Squares   F-statistic:                     6.100
Date:                Thu, 28 Oct 2021   Prob (F-statistic):            0.00441
Time:                        11:15:55   Log-Likelihood:                -221.24
No. Observations:                  50   AIC:                             448.5
Df Residuals:                      47   BIC:                             454.2
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         23.3500      4.659      5.011      0.000      13.976      32.724
east          22.4625      6.989      3.214      0.002       8.402      36.523
South          1.0071      7.261      0.139      0.890     -13.601      15.615
==============================================================================
Omnibus:                       25.081   Durbin-Watson:                   0.770
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               38.012
Skew:                           1.723   Prob(JB):                     5.57e-09
Kurtosis:                       5.523   Cond. No.                         3.47
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""